node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# firebase
firebase.json

pc-api-6489950155329927264-722-3f566dc865cb.json
google-services.json
eas.json